@charset "utf-8";
.img1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img1 img{
    max-width: 70%;
    height: auto;
}

.img-sub{
    display: flex;
    justify-content: center;  
    gap: 16px;
    width: 100%;
}
.img-sub img{ 
    max-width: 100%;
    height: auto;
}

.img-sub2{
    display: flex;
    justify-content: center;  
    gap: 16px;
    width: 100%;
}
.img-sub2 img{ 
    max-width: 100%;
    height: auto;
}
 @media (min-width: 600px) {
            h1{
            font-size: 4rem;
            }
}