@charset "utf-8";
img{max-width: 100%;
    display: flex;
    ul{
            justify-content: space-around;
            align-items: center;
     }
     
}
 @media (min-width: 600px) {
            h1{
            font-size: 4rem;
            }
}