@charset "utf-8";
img{max-width: 100%;
    display: flex;
    text-align: center;
  
    
    
    justify-content: space-around;
        
     
}
 @media (min-width: 600px) {
            h1{
            font-size: 4rem;
            }
}